:root {
    --baby-pink: #FFD6E7;
    --soft-pink: #FFB6C1;
    --dark-pink: #FF6BB2;
    --white: #FFFFFF;
    --purple: #B19CD9;
    --light-purple: #F5F0FF;
    --lighter-purple: #F8F4FF;
    --dark-purple: #9370DB;
    --text-color: #4A4A4A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, var(--lighter-purple), var(--baby-pink));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* top logo */
.logo-container {
    position: absolute;
    top: 24px;
    left: 32px;
    z-index: 5;
}

.logo {
    width: 90px;
}

/* Wrapper */
.intro-wrapper {
    width: 600px;
    height: 600px;
    background: var(--white);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    position: relative;
}

/* Slides */
.slides {
    display: flex;
    width: 600%;
    height: 100%;
    transition: transform 0.5s ease;
}

.slide {
    width: 600px;
    padding: 40px;
    text-align: center;
}

/* Make all intro images uniform */
.intro-image {
    width: 300px;      
    height: 350px;      
    object-fit: cover; 
    display: block;
    margin: 0 auto 20px;
    border-radius: 25px;
}

.intro-image img {
    width: 300px;         
    height: 350px;
    object-fit: contain;   
    margin: 0 auto 20px;
    display: block;
    border-radius: 25px;
    
}

.slide p {
    font-size: 18px;
    font-weight: 450;
    color: var(--text-color);
    line-height: 1.6;
    position: relative;
}

/* Dots */
.dots {
    position: absolute;
    bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.dot {
    width: 10px;
    height: 10px;
    background: #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: var(--dark-pink);
}

/* Buttons */
.buttons {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

button {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    background: var(--dark-pink);
    color: white;
    cursor: pointer;
}

button:hover {
    background: rgb(203, 61, 144);
}

button:disabled {
    background: #ccc;
}

.start-btn {
    background: var(--purple);
    position: relative;
    bottom: 120px;
    width: 150px;
}

.start-btn:hover {
    background: #9370DB;
}