:root {
    --baby-pink: #FFD6E7;
    --soft-pink: #FFB6C1;
    --dark-pink: #FF6BB2;
    --white: #FFFFFF;
    --purple: #B19CD9;
    --light-purple: #F5F0FF;
    --lighter-purple: #F8F4FF;
    --dark-purple: #9370DB;
    --text-color: #4A4A4A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, var(--lighter-purple), var(--purple));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main container */
.container {
    width: 360px;
    height: 650px;
    background: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -15px;
}

.header h1 {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 22px;
    color: var(--text-color);
}

.footer {
    text-align: center;
    color: var(--text-color);
    font-size: 16px;
    margin-bottom: 20px;
}

.back-btn {
    position: absolute;
    left: 0;
}

.back-btn img {
    width: 40px;
    transform: scaleX(-1); /* flip arrow */
    transition: 0.2s ease;
    cursor: pointer;
}

.back-btn img:hover {
    transform: scaleX(-1) translateX(-4px);
}

/* Grid */
.stages-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: -5px;
    flex-grow: .5;
}

/* Stage box */
.stage {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--text-color);
    position: relative;
    border-radius: 10px;
    height: 90px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: #646464 0px 2px 4px;
}

.stage:hover {
    background-color: var(--baby-pink);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Locked style */
.locked {
    background-color: #dadada;
    cursor: not-allowed;
}

.lock {
    position: absolute;
    font-size: 22px;
    opacity: 0.6;
}

/* bottom nav */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    z-index: 9999;
}

.nav img {
    width: 54px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.nav img:hover {
    transform: scale(1.15);
}
